__pycache__/
*.py[cod]
*.pyo
*.pyd

.env
.env.*

logs/
airflow.db
airflow.cfg

mlflow_artifact/
mlruns/

dags/data/*

!dags/data/.gitkeep

*.log
docker-compose.override.yml

.vscode/
.idea/

.DS_Store
Thumbs.db

.ipynb_checkpoints/

*.tmp
*.bak